<%= content_for(:title, t('.title')) %>
<div class="text-center">
  <div class="mt-10">
    <div class="text-2xl font-bold">パートナーから招待してもらう場合はこちら</div>
    <%= form_with model: @user, url: invite_path, local: true do |f| %>
      <%# <%= render 'shared/error_messages', object: f.object %>
      <div class="m-7">
        <%= f.text_field :invitation_digest, class: 'md:p-5', placeholder: "パートナーの招待コード", size: "30x2" %>
      </div>
      <%= f.submit t('defaults.register'), class: 'btn btn-accent text-xl' %>
    <% end %>
  </div>
</div>