<%= content_for(:title, t('.title')) %>
<div class="flex justify-center text-center">
  <div class="">
    <div class="">
      <h1 class="font-bold text-3xl my-5"><%= t('.title') %></h1>
      <div class="my-4">アカウントをお持ちでない場合はこちら
        <%= link_to t('defaults.register'), signup_path, class: 'underline btn btn-ghost text-xl' %>
      </span>
    </div>
    <%= form_with url: login_path, local: true do |f| %>
      <div class="mb-3">
        <%= f.label :email, User.human_attribute_name(:email) %>
        <%= f.email_field :email, class: 'w-full m-3 p-3' %>
      </div>
      <div class="mb-3">
        <%= f.label :password, User.human_attribute_name(:password) %>
        <%= f.password_field :password, class: 'w-full m-3 p-3' %>
      </div>
      <div class="d-grid">
        <%= f.submit t('defaults.login'), class: 'btn btn-accent' %>
      </div>
    <% end %>
  </div>
</div>
