<% set_meta_tags title: t('.title') %>
<div class="flex justify-center text-center">
  <div class="">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1 class="font-bold text-3xl my-5"><%= t('.title') %></h1>
      <%= form_with url: password_resets_path, local: true do |f| %>
        <div class="form-group">
          <%= f.label :email, t(User.human_attribute_name(:email)) %><br />
          <%= f.email_field :email, class: 'w-full my-3 p-3' %>
        </div>
        <%= f.submit t('password_resets.new.submit'), class: 'btn btn-accent' %>
    <% end %>
    </div>
  </div>
</div>