<%= content_for(:title, t('.title')) %>
<div class="text-center">
  <div class="p-4 m-5">
    <div class="text-4xl md:flex justify-center">
      <div class="font-bold border-b-2 border-syuiro md:w-2/3 xl:w-1/3"><%= t('.title') %></div>
    </div>
  </div>
</div>
<!-- 会う日一覧 -->
<div class='row'>
  <div class='col-md-9'>
    <div class="p-4 m-5 text-2xl">
      <div class="text-center font-bold">会えていない日が</div>
    </div>
    <div class="text-center bg-white rounded-lg text-6xl p-4 m-5">
      <div class="font-bold"><%= @not_meet_day.not_meet_day %>日</div>
    </div>
    <div class="p-4 m-5 text-2xl">
      <div class="text-center font-bold">になったら、</div>
    </div>
    <div class="p-4 m-5 text-2xl">
      <div class="text-center font-bold">次会ったときに</div>
    </div>
    <div class="text-center bg-white rounded-lg text-6xl p-4 m-5">
      <div class="font-bold"><%= @reward.content %></div>
    </div>
  </div>
</div>
<div class="flex justify-center">
  <%= link_to edit_reward_path(@reward) do %>
    <button class="btn btn-accent"><%= t('defaults.edit') %></button>
  <% end %>
</div>