<% set_meta_tags title: t('.title') %>
<div class="flex justify-center text-center">
  <div class="">
    <div class="">
      <h1 class="font-bold text-3xl my-5"><%= t('.title') %></h1>
      <div class="my-4">アカウントをお持ちの場合はこちら
        <%= link_to t('defaults.login'), login_path, class: 'underline btn btn-ghost text-xl' %>
      </div>
      <div class="my-6">*は必須項目です</div>
    </div>
    <%= form_with model: @user, local: true do |f| %>
      <%== render 'shared/error_messages', object: f.object %>
      <div class="mb-3">
        <%= f.label :name %>*
        <%= f.text_field :name, class: 'w-full m-3 p-3', placeholder: "15文字まで" %>
      </div>
      <div class="mb-3">
        <%= f.label :email %>*
        <%= f.email_field :email, class: 'w-full m-3 p-3', placeholder: "sample@sample.jp" %>
      </div>
      <div class="mb-3">
        <%= f.label :password %>*
        <%= f.password_field :password, class: 'w-full m-3 p-3', placeholder: "６文字以上" %>
      </div>
      <div class="mb-3">
        <%= f.label :password_confirmation %>*
        <%= f.password_field :password_confirmation, class: 'w-full m-3 p-3' %>
      </div>
      <div class="mb-3">
        <%= f.label :address %>
        <%= f.text_field :address, class: 'w-full m-3 p-3', placeholder: "1230000" %>
      </div>
      <div class="mb-3">
        <div class="form-check">
          <%# <input type="checkbox" class="form-check-input" id="agreeCheck"> %>
          <%# <label class="form-check-label" for="agreeCheck"><span>I agree to the <a href="terms-condition-page.html">Terms of %>
                  <%# Service </a>and %>
                <%# <a href="terms-condition-page.html">Privacy Policy.</a></span></label> %>
        </div>
      </div>
      <div class="d-grid">
        <%= f.submit t('defaults.register'), class: 'btn btn-accent' %>
      </div>
    <% end %>
  </div>
</div>