<div class="navbar text-white bg-syuiro flex justify-between">
  <div class="navbar-start">
    <div class="dropdown visible md:hidden">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </label>
      <ul tabindex="0" class="text-gray-700 menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-60">
        <li><%= link_to "今まで会った日一覧を見る", meets_path, class:"justify-between" %></li>
        <li><%= link_to "2人のがんばりを見る", posts_path, class:"justify-between" %></li>
        <li><%= link_to "がんばりを伝える", new_post_path, class:"justify-between" %></li>
      </ul>
    </div>
    <div class="hidden md:inline-block grid justify-items-start">
      <%= link_to dashboards_path, class:"btn btn-ghost normal-case text-4xl" do %>
        <%= image_tag 'logo.png', size: '150x50' %>
      <% end %>
    </div>
  </div>
  <div class="navbar-center">
    <div class="visible md:hidden">
      <%= link_to dashboards_path, class:"btn btn-ghost normal-case text-4xl" do %>
        <%= image_tag 'logo.png', size: '150x50' %>
      <% end %>
    </div>
    <div class="hidden md:inline-block">
      <ul class="flex justify-center">
        <li><%= link_to "今まで会った日一覧を見る", meets_path, class:"btn btn-ghost lx:px-10" %></li>
        <li><%= link_to "2人のがんばりを見る", posts_path, class:"btn btn-ghost lx:px-10" %></li>
        <li><%= link_to "がんばりを伝える", new_post_path, class:"btn btn-ghost lx:px-10" %></li>
      </ul>
    </div>
  </div>
  <div class="navbar-end">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-20 rounded-full">
          <% if current_user.avatar_url %>
            <%= image_tag current_user.avatar_url, class: 'rounded-circle', size: '50x50' %>
          <% else %>
            <%= image_tag 'wanko.png', class: 'rounded-circle', size: '50x50' %>
          <% end %>
        </div>
      </label>
      <ul tabindex="0" class="text-gray-700 mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
        <li><%= link_to "プロフィール", profile_path, class:"justify-between" %></li>
        <li><%= link_to "恋人を登録する", invite_path, class:"justify-between" %></li>
        <li><%= link_to "ログアウト", logout_path, class:"justify-between", data: { turbo_method: :delete, turbo_confirm: t('defaults.message.logout')} %></li>
      </ul>
    </div>
  </div>
</div>