<% set_meta_tags title: t('.title') %>
<div class="text-center">
  <div class="p-4 m-5">
    <div class="text-4xl md:flex justify-center">
      <div class="font-bold border-b-2 border-syuiro md:w-2/3 xl:w-1/3"><%= t('.title') %></div>
    </div>
  </div>
</div>
<div class="md:flex justify-center">
  <div class="text-center bg-white rounded-lg p-4 m-2 font-bold md:w-2/3 xl:w-1/3 border-2 border-syuiro">
    <% if @day_count %>
      <div class="text-2xl">次会える日まで</div>
      <div class="font-bold text-4xl">あと
        <span class="text-syuiro"><%= @day_count %></span>
        日！
      </div>
    <% end %>
  </div>
</div>
<%# 次会う日 %>
<div class='row md:flex justify-center'>
  <div class='md:w-2/3 xl:w-1/3 text-center'>
    <div class="p-2 m-2 text-2xl md:text-3xl">
      <div class="text-center font-bold">次会う日は</div>
    </div>
    <div class="text-center bg-white rounded-lg text-2xl md:text-3xl pt-4">
      <div class="font-bold">
        <% if Meet.next_meet_after_today(current_user) %>
          <%= l @meet_first.meet_day_start %>
          <% if @meet_first.meet_day_end %>
             〜 <%= l @meet_first.meet_day_end %>
          <% end %>
        <% else %>
          まだ決まっていません
        <% end %>
      </div>
      <% if Meet.next_meet_after_today(current_user) %>
        <%= link_to edit_meet_path(@meet_first), class: "btn btn-ghost" do %>
          <%= icon('far', 'pen-to-square fa-1x') %>
        <% end %>
        <%= link_to meet_path(@meet_first), class: "btn btn-ghost", data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm')} do %>
          <%= icon('fa', 'trash fa-1x') %>
        <% end %>
      <% end %>
    </div>
    <%# 登録ボタン %>
    <div class="">
      <% unless Meet.next_meet_after_today(current_user) %>
        <%= link_to new_meet_path do %>
          <button class="btn btn-accent my-3">次会う日を決める</button>
        <% end %>
      <% end %>
    </div>
    <div class="">
      <%= link_to new_meet_path do %>
        <button class="btn btn-accent my-3">今まで会った日を登録する</button>
      <% end %>
    </div>
  </div>
</div>
<%# 今まで会った日一覧 %>
<div class='row md:flex justify-center'>
  <div class='md:w-2/3 xl:w-1/3 bg-white rounded-lg text-center'>
    <div class="pt-2 mt-3 text-2xl text-center">
      <div class="text-center font-bold">今まで会った日</div>
    </div>
    <div class="p-2 m-2">
      <% if @meets_all.present? %>
        <%= render partial: 'meet', collection: @meets, as: 'meets' %>
      <% else %>
        <p class="text-xl">今まで会った日はまだありません</p>
      <% end %>
    </div>
  </div>
</div>
