<%= content_for(:title, t('.title')) %>
<div class="text-center text-gray-700">
  <div class="p-4 m-5">
    <div class="text-4xl">
      <div class="font-bold"><%= t('.title') %></div>
    </div>
  </div>
</div>
<!-- 会う日一覧 -->
<div class='row'>
  <div class='col-md-9'>
    <div class="p-4 m-5 text-2xl">
      <div class="text-center font-bold">次会う日は</div>
    </div>
    <div class="text-center text-gray-700 bg-white rounded-lg text-6xl p-4 m-5">
      <div class="font-bold"><%= l @meet %></div>
    </div>
    <div class="flex justify-center">
      <%= link_to t('defaults.edit'), edit_meet_path(meet_attr.id), class: "bg-orange-400 hover:bg-orange-300 text-white font-bold py-2 px-4 border-b-4 border-orange-700 hover:border-orange-500 rounded-lg" %>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-md-9 text-center text-gray-700 bg-white rounded-lg p-4 m-5'>
    <div class="p-4 m-5 text-2xl">
      <div class="text-center font-bold">今まで会った日</div>
    </div>
    <div class="p-4 m-5">
      <div class="text-center">
        <% @meets.each do |meets| %>
          <ul><%= l meets %></ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
