<%= content_for(:title, t('.title')) %>
<div class="text-center text-gray-700">
  <div class="bg-red-100 rounded-lg p-4 m-5">
    <% if @day_count %>
      <div class="font-bold text-2xl">次会える日まで</div>
      <div class="font-bold text-4xl">あと
        <%= @day_count %>日！
      </div>
    <%# <%= link_to edit_meet_path(@meet) do %>
      <%# <button class="btn">次会う日を変更する</button> %>
    <%# <% end %>
    <% else %>
      <div class="font-bold text-2xl">次会う日がまだ決まっていません</div>
      <%= link_to new_meet_path do %>
        <button class="btn btn-accent">次会う日を決める</button>
      <% end %>
    <% end %>
  </div>

  <div class="bg-cyan-100 rounded-lg p-4 m-5">
    <% if @my_effort %>
      <div class="font-bold text-2xl">会えない間にがんばること</div>
      <div class="font-bold text-4xl"><%= @my_effort %></div>
    <% else %>
      <div class="font-bold text-2xl">会えない間にがんばることがまだ決まっていません</div>
      <%= link_to new_effort_path do %>
        <button class="btn btn-accent m-2">がんばることを決める</button>
      <% end %><br>
    <% end %>
    <%= link_to new_post_path do %>
      <button class="btn btn-accent m-2">がんばりを伝える</button>
    <% end %>
    <%= link_to posts_path do %>
      <button class="btn btn-accent m-2">2人のがんばりを見る</button>
    <% end %>
  </div>

  <div class="bg-indigo-100 rounded-lg p-4 m-5">
    <% if @reward %>
      <div class="text-2xl">
        <div class="font-bold">会えない日があと<br>
          <%= @not_meet_day.not_meet_day %>日になったら
        </div>
        <div class="font-bold text-4xl"><%= @reward.content %></div>
        <div>のごほうびがもらえます</div>
        <%= link_to edit_reward_path(@reward) do %>
          <button class="btn btn-accent m-2">ごほうびを編集する</button>
        <% end %>
      </div>
    <% else %>
      <div class="font-bold text-2xl">ごほうびはまだ決まっていません</div>
      <%= link_to new_reward_path do %>
        <button class="btn btn-accent m-2">ごほうびを決める</button>
      <% end %>
    <% end %>
  </div>

  <div class="bg-amber-100 rounded-lg p-4 m-5">
    <div class="text-2xl font-bold">総移動距離　km</div>
    <%= link_to distances_path do %>
      <button class="btn btn-accent m-2">くわしく見る</button>
    <% end %>
  </div>
</div>