<% set_meta_tags title: t('.title') %>
<% unless @partner %>
  <div class="flex justify-center">
    <%= link_to invite_path do %>
      <button class="btn btn-primary m-2 text-xl">恋人を登録する</button>
    <% end %>
  </div>
<% end %>
<div class="text-center md:flex">
  <%# meetモデル %>
  <div class="bg-white rounded-lg p-4 m-2 md:w-1/2">
    <div class="text-2xl my-5 border-b-2 border-syuiro">次会える日</div>
    <% if @day_count %>
      <div class="text-2xl">次会える日まで</div>
      <div class="font-bold text-4xl">あと
        <span class="text-syuiro"><%= @day_count %></span>
        日！
      </div>
      <%= link_to meets_path do %>
        <button class="btn btn-accent m-5">今まで会った日を見る</button>
      <% end %>
    <% else %>
      <div class="font-bold text-2xl">次会う日がまだ<span class="inline-block">決まっていません</span></div>
      <%= link_to new_meet_path do %>
        <button class="btn btn-accent m-5">次会う日を決める</button>
      <% end %>
    <% end %>
  </div>

  <%# effort,postモデル %>
  <div class="bg-white rounded-lg p-4 m-2 md:w-1/2">
    <div class="text-2xl my-5 border-b-2 border-syuiro">会えない間にがんばること</div>
    <% if @my_effort %>
      <div class="font-bold text-4xl"><%= @my_effort.body %></div>
      <%= link_to edit_effort_path(@my_effort) do %>
        <button class="btn btn-accent mt-5 mx-5">がんばることを変更する</button>
      <% end %><br>
    <% else %>
      <div class="font-bold text-2xl">会えない間にがんばることが<span class="inline-block">まだ決まっていません</span></div>
      <%= link_to new_effort_path do %>
        <button class="btn btn-accent mt-5 mx-5">がんばることを決める</button>
      <% end %><br>
    <% end %>
    <%= link_to new_post_path do %>
      <button class="btn btn-accent mt-3 mx-5">がんばりを伝える</button>
    <% end %>
    <%= link_to posts_path do %>
      <button class="btn btn-accent mt-3 mb-5 mx-5">2人のがんばりを見る</button>
    <% end %>
  </div>
</div>
<div class="text-center md:flex">
  <%# rewardモデル %>
  <div class="bg-white rounded-lg p-3 m-2 md:w-1/2">
    <div class="text-2xl my-5 border-b-2 border-syuiro">会えなかった分のごほうび</div>
    <% if @reward %>
      <div class="text-1xl md:text-2xl">会えない日が<span class="font-bold text-3xl"><%= @not_meet_day.not_meet_day %>日</span>になったら
      </div>
      <div class="mb-7">
        <div class="font-bold text-3xl">「<%= @reward.content %>」</div>
        <div class="text-1xl md:text-2xl">のごほうびがもらえます</div>
      </div>
      <% if @reward_count %>
        <span class="font-bold text-2xl md:text-3xl">前回会った日から<span class="text-syuiro"><%= @reward_count %></span>日<span class="inline-block">経ちました！</span></span>
      <% else %>
        <span class="">★前回会った日を登録すると、</span><span class="inline-block">日数が表示されます</span>
      <% end %>
      <div>
        <%= link_to edit_reward_path(@reward) do %>
          <button class="btn btn-accent m-5">ごほうびを編集する</button>
        <% end %>
        <%= link_to rewards_path do %>
          <button class="btn btn-accent m-5">ごほうび一覧を見る</button>
        <% end %>
      </div>
    <% else %>
      <div class="font-bold text-2xl">ごほうびはまだ<span class="inline-block">決まっていません</span></div>
      <%= link_to new_reward_path do %>
        <button class="btn btn-accent m-5">ごほうびを決める</button>
      <% end %>
    <% end %>
  </div>

  <%# 総移動距離 %>
  <div class="bg-white rounded-lg p-3 m-2 md:w-1/2">
    <div class="text-2xl my-5 border-b-2 border-syuiro">総移動距離</div>
    <% if @total_distances %>
      <div class="font-bold text-4xl">約 <span class="text-syuiro"><%= @total_distances %></span> km</div>
      <%= link_to distances_path do %>
        <button class="btn btn-accent m-5">くわしく見る</button>
      <% end %>
    <% else %>
        <div class="font-bold text-4xl"><span class="text-syuiro">0</span> km</div>
        <div>★会った日と、お互いの郵便番号を<span class="inline-block">登録すると見ることができます</span></div>
    <% end %>
  </div>
</div>