<%= content_for(:title, t('.title')) %>
<div class="text-center text-gray-700">
  <%# meetモデル %>
  <div class="bg-white rounded-lg p-4 m-5">
    <% if @day_count %>
      <div class="text-2xl">次会える日まで</div>
      <div class="font-bold text-4xl">あと
        <span class="text-syuiro"><%= @day_count %></span>
        日！
      </div>
      <%= link_to meets_path do %>
        <button class="btn btn-accent m-2">今まで会った日を見る</button>
      <% end %>
    <% else %>
      <div class="font-bold text-2xl">次会う日がまだ決まっていません</div>
      <%= link_to new_meet_path do %>
        <button class="btn btn-accent">次会う日を決める</button>
      <% end %>
    <% end %>
  </div>

  <%# effortモデル %>
  <div class="bg-white rounded-lg p-4 m-5">
    <% if @my_effort %>
      <div class="text-2xl">会えない間にがんばること</div>
      <div class="font-bold text-4xl"><%= @my_effort %></div>
    <% else %>
      <div class="font-bold text-2xl">会えない間にがんばることがまだ決まっていません</div>
      <%= link_to new_effort_path do %>
        <button class="btn btn-accent m-2">がんばることを決める</button>
      <% end %><br>
    <% end %>
    <%= link_to new_post_path do %>
      <button class="btn btn-accent m-2">がんばりを伝える</button>
    <% end %>
    <%= link_to posts_path do %>
      <button class="btn btn-accent m-2">2人のがんばりを見る</button>
    <% end %>
  </div>

  <%# rewardモデル %>
  <div class="bg-white rounded-lg p-4 m-5">
    <% if @reward %>
      <div class="text-2xl">
        <div class="font-bold">会えない日が<%= @not_meet_day.not_meet_day %>日になったら
        </div>
        <span class="font-bold text-4xl"><%= @reward.content %></span><span>のごほうびがもらえます</span><br>
        <span class="font-bold text-4xl">前回会った日から<span class="text-syuiro"><%= @reward_count %></span>日経ちました！</span>
        <div>
          <%= link_to edit_reward_path(@reward) do %>
            <button class="btn btn-accent m-2">ごほうびを編集する</button>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="font-bold text-2xl">ごほうびはまだ決まっていません</div>
      <%= link_to new_reward_path do %>
        <button class="btn btn-accent m-2">ごほうびを決める</button>
      <% end %>
    <% end %>
  </div>

  <%# 総移動距離 %>
  <div class="bg-white rounded-lg p-4 m-5">
    <div class="text-2xl">総移動距離</div>
      <div class="font-bold text-4xl">約 <span class="text-syuiro"><%= @distance %></span> km</div>
    <%= link_to distances_path do %>
      <button class="btn btn-accent m-2">くわしく見る</button>
    <% end %>
  </div>
</div>