<div class="flex justify-center">
  <%= form_with model: post, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div>
      <%= f.label :date, class:"font-bold flex justify-center text-2xl" %>
      <%= f.date_field :date, class: 'justify-center m-5 p-5' %>
    </div>
    <div class="">
      <%= f.label :body, class:"font-bold flex justify-center text-2xl" %>
      <%= f.text_area :body, class: 'justify-center m-5 p-2', size: "80x5" %>
    </div>
    <div class="">
      <%= f.label :image, class:"font-bold flex justify-center text-2xl" %>
      <%= f.file_field :image, onchange: 'previewFileWithId(img_prev)', class: 'justify-center m-3 p-2', accept: 'image/*' %>
      <%= f.hidden_field :image_cache %>
    </div>
    <div class='mt-3 mb-3 flex justify-center'>
      <% if post.image? %>
        <%= image_tag post.image.url, id: 'img_prev', size: '100x100' %>
      <% end %>
    </div>
    <%= f.submit t('defaults.create'), class: 'btn btn-accent text-xl' %>
  <% end %>
</div>