<div class="flex justify-center">
  <div class="bg-white rounded-lg p-4 m-5 w-2/3">
    <div class="mx-auto flex justify-between">
      <div class="px-1 mx-3">
        <label class="btn-circle avatar">
          <div class="w-20 rounded-full">
            <%= image_tag post.user.avatar_url, class: 'rounded-circle', size: '70x70' %>
          </div>
        </label>
      </div>
      <div class="text-1xl">
        <%= link_to post_path(post), class: "btn btn-ghost text-2xl" do %>
          <%= l post.date, format: :long %>
        <% end %>
      </div>
      <div class="">
        <% if current_user.own?(post) %>
          <%= render 'crud_menus', post: post %>
        <% else %>
          <div class="w-28"></div>
        <% end %>
      </div>
    </div>
    <div class="text-center font-bold text-3xl">
        <%= post.body %>
    </div>
    <div class="flex justify-center">
      <% if post.image? %>  <!-- アップロード画像がある場合に実行する -->
        <%= image_tag post.image.url, class: 'card-img-top', size: '300x200' %><!-- boardインスタンスの画像ファイルのURLを取得し表示 -->
      <% end %>
    </div>
  </div>
</div>