<% set_meta_tags title: t('.title') %>
<div class="text-center">
  <div class="p-3 m-2">
    <div class="text-3xl md:text-4xl md:flex justify-center">
      <div class="font-bold border-b-2 border-syuiro md:w-2/3 xl:w-1/3"><%= t('.title') %></div>
    </div>
  </div>
</div>
<%# 「がんばりを伝える」ボタン %>
<div class="flex justify-center p-1 m-2">
  <div class="text-2xl font-bold">
    <%= link_to t('posts.new.title'), new_post_path, class: 'btn btn-accent text-xl' %>
  </div>
</div>
<%# # がんばること %>
<div class="lg:flex justify-center p-1 m-1">
  <div class="rounded-lg lg:w-2/3 lg:flex">
    <%= render 'effort',{ my_effort: @my_effort} %>
    <br>
    <% if @partner %>
      <%= render 'partner_effort',{ partner: @partner, partner_effort: @partner_effort } %>
    <% end %>
  </div>
</div>

  <!-- がんばり記録一覧 -->
<div>
  <% if @posts %>
    <%= render partial: 'post', collection: @posts, as: 'post' %>
  <% else %>
    <p><%= t('.no_result') %></p>
  <% end %>
</div>
<%# ページネーション %>
<div class='md:flex justify-center'>
  <div class='md:w-2/3 xl:w-1/3'>
    <%= paginate @posts %>
  </div>
</div>