<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/5dd17b11f4.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <div class="flex flex-col min-h-screen bg-gray-100">
      <%= render 'shared/header' %>
      <%= render 'shared/flash_message' %>
      <main class="flex-grow p-3">
        <%= yield %>
      </main>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
